<h2>All Posts</h2>
<div class="row">
<div class="col-10">

</div>
<div class="col-2">
  <a class="btn btn-success" routerLink="/addpost">Add Post</a>

  <div class="alert alert-primary" [hidden]="!isAddedd" role="alert">
    A simple primary alert—check it out!
  </div>
</div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">View</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of posts">
        <th scope="row">{{item.id}}</th>
        <td>{{item.title}}</td>
        <td>{{item.views}}</td>
        <td><button class="btn btn-danger" (click)="Delete(item.id)">Delete</button></td>
        <td><button class="btn btn-dark" (click)="Update(item.id)">Update</button></td>
      </tr>
     
    </tbody>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)"></mat-paginator>
